* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", monospace;
}

body {
  height: 100vh;
  background: url(images/Background.png)
    no-repeat center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* затемнение фона */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 0;
}

/* карточка */
.quote-card {
  position: relative;
  z-index: 1;
  width: 360px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 50px rgba(0,0,0,0.6);
}

/* текст цитаты */
.quote-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* линия */
.divider {
  height: 1px;
  background: rgba(255,255,255,0.25);
  margin-bottom: 15px;
}

/* низ карточки */
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* автор */
.author {
  font-size: 14px;
  opacity: 0.8;
}

button {
  background: url(images/Random\ Quote.png) no-repeat center/cover;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  cursor: pointer;
  color: transparent; /* скрыть текст */
  font-size: 0; /* если текст есть */
}

button:hover {
  opacity: 0.8; /* эффект наведения */
}
